@import '../styles/variables';

.header {
  background-color: $primary;
  padding: 40px 0;
  .contentHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
    width: $widthPage;
    max-width: 1280px;
    // border: 3px solid $primary;
    border-radius: 20px;
    color: $secondary;
    background-color: white;
    h1 {
      margin: 0 auto 10px;
      padding: 0;
      font-size: 2.2em;
      // .headerLogo {
      //   height: 68px;
      // }
    }

    @include forTablet {
      flex-direction: column;
      margin: 20px auto 0;
      h1 {
        font-size: 1.4em;
      }
    }

    @include forMobile2 {
      h1 {
        font-size: 1em;
      }
    }
  }
}
